[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
imblearn = "*"
scikit-learn = "*"
flask = "*"
xgboost = "*"
lightgbm = "*"
streamlit = "==1.16.0"
plotly = "==5.11.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
